<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<form th:method="POST" th:action="@{/tours}" th:object="${tour}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>

    <label for="hotel_id">Enter hotel id: </label>
    <input type="number" th:field="*{hotel.hotel_id}" id="hotel_id"/>

    <label for="country_id">Enter country id: </label>
    <input type="number" th:field="*{country.country_id}" id="country_id"/>

    <label> Choose transfer included:
        <select th:field="*{transfer_included}">
            <option th:value="True" th:text="Yes"></option>
            <option th:value="False" th:text="No"></option>
        </select>
    </label>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>